<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông tin tài khoản</title>
    <link
      rel="stylesheet"
      href="../../lib/bootstrap-5.3.2-dist/css/bootstrap.css"
    />

    <!-- Fontawsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!-- Css -->
    <!-- <link rel="stylesheet" href="/assets/css/reset.css"/> -->
    <link rel="stylesheet" href="../../assets/css/base.css" />
    <link rel="stylesheet" href="../../assets/css/reset.css" />
    <link rel="stylesheet" href="../../assets/css/web/header.css" />
    <link rel="stylesheet" href="../../assets/css/web/footer.css" />
    <link rel="stylesheet" href="../../assets/css/web/contact.css" />
    <link
      rel="stylesheet"
      href="../../assets/css/web/LoginLogout/Information.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container w-100 b-2 mt-1">
        <div class="row h-100 w-100">
            <div class="col-4 h-100 br-2">
                <p class="font mgb-7">Trang tài khoản</p>
                <p class="font-14 mgb-28">Xin chào, <span style="color: #12487f;" class="username"></span></p>
                <ul class="mgb-28">
                    <li class="mgb-28"><a href="http://127.0.0.1:5500/DoAnWeb-main/views/web/Information.html" class="font-14 c-bl">Thông tin tài khoản</a></li>
                    <li class="mgb-28"><a href="http://127.0.0.1:5500/DoAnWeb-main/views/web/address.html" class="font-14 text-black">Sổ địa chỉ</a></li>
                    <li class="logout"><a href="http://127.0.0.1:5500/DoAnWeb-main/views/web/login.html" class="font-16 text-black">Đăng xuất</a></li>
                </ul>
            </div>
            <div class="col-sm-8 col-12 h-100 mt-1">
                <p class="font mgb-16">Tài khoản</p>
                <p class="font-14 mgb-16">Tên tài khoản : <span id="username"></span></p>
                <div class="font-14 mgb-16"><i class='bx bxs-home' style="color: #12487f;"></i> Địa chỉ : Vietnam</div>
                <div class="font-14 mgb-16"><i class='bx bxs-phone' style="color: #12487f;"></i> Điện thoại : <span class="phoneuser"></span></div>
                <p class="font mgb-16">Đơn hàng của bạn</p>
                <table class="w-100 b-1 mgb-16">
                  <tr>
                    <th>Mã đơn hàng</th>
                    <th>Ngày đặt</th>
                    <th>Thành tiền</th>
                    <th>TT thanh toán</th>
                    <th>TT vận chuyển</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="../../lib/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
    <!-- Fontawsome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="../../assets/JS/LoginLogout/Information.js"></script>
  </body>
</html>
